<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/qlphongmachtu?useUnicode=true&amp;characterEncoding=UTF-8
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping resource="entity/nhanvien.hbm.xml" />
		<mapping resource="entity/benhnhan.hbm.xml" />
		<mapping resource="entity/donvi.hbm.xml" />
		<mapping resource="entity/cachdung.hbm.xml" />
		<mapping resource="entity/quydinh1.hbm.xml" />
		<mapping resource="entity/quydinh2.hbm.xml" />
		<mapping resource="entity/quydinh4.hbm.xml" />
		<mapping resource="entity/quydinh6.hbm.xml" />
		<mapping resource="entity/thuoc.hbm.xml" />
		<mapping resource="entity/loaibenh.hbm.xml" />	
		<mapping resource="entity/phieukhambenh.hbm.xml" />	
		<mapping resource="entity/ctloaibenh.hbm.xml" />	
		<mapping resource="entity/ctbenhnhan.hbm.xml" />	
		<mapping resource="entity/ctthuoc.hbm.xml" />
		<mapping resource="entity/thuoc1.hbm.xml" />	
		<mapping resource="entity/hoadon.hbm.xml" />	
	</session-factory>
</hibernate-configuration> 